@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html {
    font-size: 10px;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: normal;
    color: #161616;
    line-height: 1.75;
    letter-spacing: 0.05em;
}

a:link {
    color: #161616;
    text-decoration: none;
}

a:visited {
    color: #161616;
}

a:hover {
    color: #009EE6;
    text-decoration: underline;
}

a:active {
    color: #E64800;
}


/* フレックスボックス */
.model-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    &.type-left {
        justify-content: flex-start;
        gap: 1em;
    }

    &.type-top {
        align-items: flex-start;
    }

    &.type-bottom {
        align-items: flex-end;
    }
}

/* ボタン */
.model-btn {
    display: block;
    width: fit-content;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: 400;
    cursor: pointer;

    &.type-orange {
        color: #fff;
        background-color: #E64800;
    }

    &.type-blue {
        color: #fff;
        background-color: #009EE6;
    }

    &.type-border {
        border: 1px solid #999;
    }
}

/* インナー */
.model-inner {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 30px;
}

/* テーブル */
.model-table {
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
        border: 1px solid #999;
        padding: 0.5em 1em;
    }

    th {
        white-space: nowrap;
        text-align-last: justify;
    }

    &.type-th-gray th {
        background-color: #f4f4f4;
    }

    &.type-th-red th {
        background-color: #ffcbcb;
    }

    &.type-th-blue th {
        background-color: #cfe2ff;
    }
}


.model-form {
    font-size: 1.4rem;
    text-align: left;

    dl>div {
        margin: 20px 0;
    }

    dd {
        font-weight: normal;
    }

    input,
    select,
    textarea {
        padding: 0.5rem;
        color: #000;
    }

    input[type=text] {
        width: 100%;
    }

    input[type=email] {
        width: 100%;
    }

    input[type=tel] {
        width: 100%;
    }

    input[type=radio] {
        margin-left: 1.5em;
        margin-right: 0.2em;
        appearance: auto;
    }

    input[type=radio]:first-child {
        margin-left: 0;
    }

    select {
        appearance: auto;
        width: 50%;
        min-width: max-content;
    }

    textarea {
        width: 100%;
        height: 140px;
    }

    .personal-check {
        text-align: center;
        margin: 2em 0;
    }

    .personal-check input[type="checkbox"] {
        width: auto;
        margin-right: 0.5em;
        vertical-align: -1px;
        appearance: auto;
    }

    input[type="submit"] {
        display: block;
        padding: 0.5em 3em;
        margin: 2em auto;
        font-weight: bold;
        letter-spacing: 0.05em;
    }

    .req {
        margin-left: 1em;
        border: 1px solid #a22000;
        padding: 0 0.5rem;
        font-size: 1rem;
        color: #a22000;
        font-style: normal;
        font-weight: normal;
    }

    &.type-blue {

        input,
        select,
        textarea {
            background-color: #ebf9ff;
            border: 1px solid #a6e3ff;
        }

        input[type="submit"] {
            background-color: #009EE6;
            border: 0;
            color: #fff;
        }
    }
}

/* .model-table.type-th-gray th{
    background-color: #f4f4f4;
}
.model-table.type-th-red th{
    background-color: #ffcbcb;
}
.model-table.type-th-blue th{
    background-color: #cfe2ff;
} */

/* 背景色 */
.att-bgcl-gray {
    background-color: #f4f4f4;
}

.att-bgcl-blue {
    background-color: #ebf9ff;
}

.main-header {
    padding: 24px 30px;

    .gnav ul {
        gap: 1em;
        font-weight: 400;
    }
}

.main-footer ul {

    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 400;
}

/* メインフッター */
.main-footer {
    padding: 32px 30px 24px;
    background-color: #dedede;

    ul {
        padding-top: 1em;
        padding-bottom: 1em;
        font-weight: 400;
    }

    address {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .tel,
    .mail {
        margin-left: 1em;
    }

    .snsicon a {
        margin-right: 10px;
    }

    .copyright {
        text-align: center;
        font-size: 1.2rem;
    }
}

/* サブページh1 */
.sub h1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 3.2rem;
    font-weight: 400;
    background-image: url(../image/common/bg-img-tl.png), url(../image/common/bg-img-br.png);
    background-position: top left, bottom right;
    background-size: 30%, 30%;
    background-repeat: no-repeat;
}

/* サブページh1リード文 */
.readtext {
    padding: 40px 30px 0 30px;
    text-align: center;
}

/* サブページh2 */
.sub h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 14px;
}

/* サブページ .catch（トップページにおけるh1） */
.catch {
    font-size: 1.6rem;
    font-weight: 400;
    color: #009EE6;
}

/* 複数クラスが付与されたときのみ設定されるスタイル */
/* クラス名の間にスペースは打たない。続けて打つこと */
/* なぜならスペースを入れると子孫セレクターになる */
/* つまり「.aaaの子供の.bbb」という扱いになってしまう */
/* 今回は「.aaaと.bbbの両方のクラスが付いていたら」にしたい */
/* .aaa.bbb{
    color: #f00;
} */

/* これをネストで書く場合は注意 */
/* 以下のように書くと、強制的に子孫セレクターになってしまう */
/* .aaa{
    .bbb{
        color: #f00;
    }
} */

/* &を使うと「連結」の働きになるため */
/* 以下の記述は「.aaa.bbb{～}」と同じ意味になる */
/* .aaa{
    &.bbb{
        color: #f00;
    }
} */
/* ↑と↓は書き方が違うだけで意味は同じ */
/* .aaa.bbb{
    color: #f00;
} */