@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html {
    font-size: 10px;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: normal;
    color: #161616;
    line-height: 1.75;
    letter-spacing: 0.05em;
}

a:link{
    color: #161616;
    text-decoration: none;
}
a:visited{
    color: #161616;
}
a:hover{
    color: #009EE6;
    text-decoration: underline;
}
a:active{
    color: #E64800;
}


/* フレックスボックス */
.model-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    &.type-left {
        justify-content: flex-start;
        gap: 1em;
    }

    &.type-top {
        align-items: flex-start;
    }

    &.type-bottom {
        align-items: flex-end;
    }
}

/* ボタン */
.model-btn {
    display: block;
    width: fit-content;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: 400;
    cursor: pointer;

    &.type-orange {
        color: #fff;
        background-color: #E64800;
    }

    &.type-blue {
        color: #fff;
        background-color: #009EE6;
    }

    &.type-border {
        border: 1px solid #999;
    }
}

/* インナー */
.model-inner {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 30px;
}

/* 背景色 */
.att-bgcl-gray {
    background-color: #f4f4f4;
}

.att-bgcl-blue {
    background-color: #ebf9ff;
}

.main-header {
    padding: 24px 30px;

    .gnav ul {
        gap: 1em;
        font-weight: 400;
    }
}

.main-footer ul {

    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 400;
}

/* メインフッター */
.main-footer {
    padding: 32px 30px 24px;
    background-color: #dedede;

    ul {
        padding-top: 1em;
        padding-bottom: 1em;
        font-weight: 400;
    }

    address {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .tel,
    .mail {
        margin-left: 1em;
    }

    .snsicon a {
        margin-right: 10px;
    }

    .copyright {
        text-align: center;
        font-size: 1.2rem;
    }
}

/* サブページh1 */
.sub h1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 3.2rem;
    font-weight: 400;
    background-image: url(../image/common/bg-img-tl.png), url(../image/common/bg-img-br.png);
    background-position: top left, bottom right;
    background-size: 30%, 30%;
    background-repeat: no-repeat;
}

/* サブページh1リード文 */
.readtext {
    padding: 40px 30px 0 30px;
    text-align: center;
}

/* サブページh2 */
.sub h2{
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 14px;
}
/* サブページ .catch（トップページにおけるh1） */
.catch{
    font-size: 1.6rem;
    font-weight: 400;
    color: #009EE6;
}